body {
    font-family: Georgia,serif !important;
    width: 100%;
  }
.logo{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
}

.icon-container{
    background-color: white !important;
    
}

#carouselExampleCaptions{
    height: 100vh !important;
     
}
.w-100{
    height:100vh !important;
}

h1{
    color:black !important;
    font-weight: bold;
    font-size: 4rem !important;
}
.card{
    display:flex;
    align-items: center;

}
#carousel-container{
    width: 60%;
}
.card-text{
    padding-top: 1rem;
    color:black !important;
    font-weight: bold;
    font-size: 1.5rem !important;
}
.card-body{
    display:flex;
    height: 30% !important;
    width: 100%;
    justify-content: center !important;
    border: 0.1rem solid black !important;
    background-color: yellow;
}

.first_button{
    background-color: yellow !important;
    color:black !important;
    font-weight: bolder;
    font-size: 1.5rem !important;
    border: 0.2rem solid black !important;   
}
.nav-link{
    color:black !important;
    font-weight: bold;
}
#home{
    color:black!important;
    font-weight: bold;
    background-color: white; 
}
#contact{
    background-color: yellow;
    border: 0.1rem solid black !important;
}

.first_button {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
#head-container{
    background-color: yellow;
    border-radius: 30px;
}

@media only screen and (max-width: 600px) {
    #carousel-container{
        width: 100%;
    }

}
.footer{
    background-color: yellow;
    border-radius: 30px;
}



